<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nengchuan.inspection.task.dao.IiTaskMapper" >
  <resultMap id="BaseResultMap" type="com.nengchuan.inspection.task.entity.IiTask" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="station_type" property="stationType" jdbcType="VARCHAR" />
    <result column="station_id" property="stationId" jdbcType="VARCHAR" />
    <result column="station_name" property="stationName" jdbcType="VARCHAR" />
    <result column="superior_id" property="superiorId" jdbcType="VARCHAR" />
    <result column="superior_name" property="superiorName" jdbcType="VARCHAR" />
    <result column="task_name" property="taskName" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="VARCHAR" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="execution_time" property="executionTime" jdbcType="TIMESTAMP" />
    <result column="execution_fun_id" property="executionFunId" jdbcType="VARCHAR" />
    <result column="execution_fun_name" property="executionFunName" jdbcType="VARCHAR" />
    <result column="execution_state_id" property="executionStateId" jdbcType="VARCHAR" />
    <result column="execution_state_name" property="executionStateName" jdbcType="VARCHAR" />
    <result column="is_abnormal" property="isAbnormal" jdbcType="VARCHAR" />
    <result column="create_id" property="createId" jdbcType="VARCHAR" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_id" property="modifyId" jdbcType="VARCHAR" />
    <result column="modify_name" property="modifyName" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="delete_state" property="deleteState" jdbcType="VARCHAR" />
    <result column="route_id" property="routeId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, station_type, station_id, station_name, superior_id, superior_name, task_name, 
    type_id, type_name, execution_time, execution_fun_id, execution_fun_name, execution_state_id, 
    execution_state_name, is_abnormal, create_id, create_name, create_time, modify_id, 
    modify_name, modify_time, delete_state, route_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.nengchuan.inspection.task.entity.IiTaskCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ii_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ii_task
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ii_task
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.nengchuan.inspection.task.entity.IiTaskCriteria" >
    delete from ii_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nengchuan.inspection.task.entity.IiTask" >
    insert into ii_task (id, station_type, station_id, 
      station_name, superior_id, superior_name, 
      task_name, type_id, type_name, 
      execution_time, execution_fun_id, execution_fun_name, 
      execution_state_id, execution_state_name, is_abnormal, 
      create_id, create_name, create_time, 
      modify_id, modify_name, modify_time, 
      delete_state, route_id)
    values (#{id,jdbcType=VARCHAR}, #{stationType,jdbcType=VARCHAR}, #{stationId,jdbcType=VARCHAR}, 
      #{stationName,jdbcType=VARCHAR}, #{superiorId,jdbcType=VARCHAR}, #{superiorName,jdbcType=VARCHAR}, 
      #{taskName,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, 
      #{executionTime,jdbcType=TIMESTAMP}, #{executionFunId,jdbcType=VARCHAR}, #{executionFunName,jdbcType=VARCHAR}, 
      #{executionStateId,jdbcType=VARCHAR}, #{executionStateName,jdbcType=VARCHAR}, #{isAbnormal,jdbcType=VARCHAR}, 
      #{createId,jdbcType=VARCHAR}, #{createName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyId,jdbcType=VARCHAR}, #{modifyName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{deleteState,jdbcType=VARCHAR}, #{routeId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nengchuan.inspection.task.entity.IiTask" >
    insert into ii_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="stationType != null" >
        station_type,
      </if>
      <if test="stationId != null" >
        station_id,
      </if>
      <if test="stationName != null" >
        station_name,
      </if>
      <if test="superiorId != null" >
        superior_id,
      </if>
      <if test="superiorName != null" >
        superior_name,
      </if>
      <if test="taskName != null" >
        task_name,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
      <if test="executionTime != null" >
        execution_time,
      </if>
      <if test="executionFunId != null" >
        execution_fun_id,
      </if>
      <if test="executionFunName != null" >
        execution_fun_name,
      </if>
      <if test="executionStateId != null" >
        execution_state_id,
      </if>
      <if test="executionStateName != null" >
        execution_state_name,
      </if>
      <if test="isAbnormal != null" >
        is_abnormal,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyId != null" >
        modify_id,
      </if>
      <if test="modifyName != null" >
        modify_name,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="deleteState != null" >
        delete_state,
      </if>
      <if test="routeId != null" >
        route_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="stationType != null" >
        #{stationType,jdbcType=VARCHAR},
      </if>
      <if test="stationId != null" >
        #{stationId,jdbcType=VARCHAR},
      </if>
      <if test="stationName != null" >
        #{stationName,jdbcType=VARCHAR},
      </if>
      <if test="superiorId != null" >
        #{superiorId,jdbcType=VARCHAR},
      </if>
      <if test="superiorName != null" >
        #{superiorName,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null" >
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="executionTime != null" >
        #{executionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="executionFunId != null" >
        #{executionFunId,jdbcType=VARCHAR},
      </if>
      <if test="executionFunName != null" >
        #{executionFunName,jdbcType=VARCHAR},
      </if>
      <if test="executionStateId != null" >
        #{executionStateId,jdbcType=VARCHAR},
      </if>
      <if test="executionStateName != null" >
        #{executionStateName,jdbcType=VARCHAR},
      </if>
      <if test="isAbnormal != null" >
        #{isAbnormal,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        #{modifyId,jdbcType=VARCHAR},
      </if>
      <if test="modifyName != null" >
        #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteState != null" >
        #{deleteState,jdbcType=VARCHAR},
      </if>
      <if test="routeId != null" >
        #{routeId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nengchuan.inspection.task.entity.IiTaskCriteria" resultType="java.lang.Integer" >
    select count(*) from ii_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ii_task
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.stationType != null" >
        station_type = #{record.stationType,jdbcType=VARCHAR},
      </if>
      <if test="record.stationId != null" >
        station_id = #{record.stationId,jdbcType=VARCHAR},
      </if>
      <if test="record.stationName != null" >
        station_name = #{record.stationName,jdbcType=VARCHAR},
      </if>
      <if test="record.superiorId != null" >
        superior_id = #{record.superiorId,jdbcType=VARCHAR},
      </if>
      <if test="record.superiorName != null" >
        superior_name = #{record.superiorName,jdbcType=VARCHAR},
      </if>
      <if test="record.taskName != null" >
        task_name = #{record.taskName,jdbcType=VARCHAR},
      </if>
      <if test="record.typeId != null" >
        type_id = #{record.typeId,jdbcType=VARCHAR},
      </if>
      <if test="record.typeName != null" >
        type_name = #{record.typeName,jdbcType=VARCHAR},
      </if>
      <if test="record.executionTime != null" >
        execution_time = #{record.executionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.executionFunId != null" >
        execution_fun_id = #{record.executionFunId,jdbcType=VARCHAR},
      </if>
      <if test="record.executionFunName != null" >
        execution_fun_name = #{record.executionFunName,jdbcType=VARCHAR},
      </if>
      <if test="record.executionStateId != null" >
        execution_state_id = #{record.executionStateId,jdbcType=VARCHAR},
      </if>
      <if test="record.executionStateName != null" >
        execution_state_name = #{record.executionStateName,jdbcType=VARCHAR},
      </if>
      <if test="record.isAbnormal != null" >
        is_abnormal = #{record.isAbnormal,jdbcType=VARCHAR},
      </if>
      <if test="record.createId != null" >
        create_id = #{record.createId,jdbcType=VARCHAR},
      </if>
      <if test="record.createName != null" >
        create_name = #{record.createName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyId != null" >
        modify_id = #{record.modifyId,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyName != null" >
        modify_name = #{record.modifyName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteState != null" >
        delete_state = #{record.deleteState,jdbcType=VARCHAR},
      </if>
      <if test="record.routeId != null" >
        route_id = #{record.routeId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ii_task
    set id = #{record.id,jdbcType=VARCHAR},
      station_type = #{record.stationType,jdbcType=VARCHAR},
      station_id = #{record.stationId,jdbcType=VARCHAR},
      station_name = #{record.stationName,jdbcType=VARCHAR},
      superior_id = #{record.superiorId,jdbcType=VARCHAR},
      superior_name = #{record.superiorName,jdbcType=VARCHAR},
      task_name = #{record.taskName,jdbcType=VARCHAR},
      type_id = #{record.typeId,jdbcType=VARCHAR},
      type_name = #{record.typeName,jdbcType=VARCHAR},
      execution_time = #{record.executionTime,jdbcType=TIMESTAMP},
      execution_fun_id = #{record.executionFunId,jdbcType=VARCHAR},
      execution_fun_name = #{record.executionFunName,jdbcType=VARCHAR},
      execution_state_id = #{record.executionStateId,jdbcType=VARCHAR},
      execution_state_name = #{record.executionStateName,jdbcType=VARCHAR},
      is_abnormal = #{record.isAbnormal,jdbcType=VARCHAR},
      create_id = #{record.createId,jdbcType=VARCHAR},
      create_name = #{record.createName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modify_id = #{record.modifyId,jdbcType=VARCHAR},
      modify_name = #{record.modifyName,jdbcType=VARCHAR},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      delete_state = #{record.deleteState,jdbcType=VARCHAR},
      route_id = #{record.routeId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nengchuan.inspection.task.entity.IiTask" >
    update ii_task
    <set >
      <if test="stationType != null" >
        station_type = #{stationType,jdbcType=VARCHAR},
      </if>
      <if test="stationId != null" >
        station_id = #{stationId,jdbcType=VARCHAR},
      </if>
      <if test="stationName != null" >
        station_name = #{stationName,jdbcType=VARCHAR},
      </if>
      <if test="superiorId != null" >
        superior_id = #{superiorId,jdbcType=VARCHAR},
      </if>
      <if test="superiorName != null" >
        superior_name = #{superiorName,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null" >
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="executionTime != null" >
        execution_time = #{executionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="executionFunId != null" >
        execution_fun_id = #{executionFunId,jdbcType=VARCHAR},
      </if>
      <if test="executionFunName != null" >
        execution_fun_name = #{executionFunName,jdbcType=VARCHAR},
      </if>
      <if test="executionStateId != null" >
        execution_state_id = #{executionStateId,jdbcType=VARCHAR},
      </if>
      <if test="executionStateName != null" >
        execution_state_name = #{executionStateName,jdbcType=VARCHAR},
      </if>
      <if test="isAbnormal != null" >
        is_abnormal = #{isAbnormal,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        modify_id = #{modifyId,jdbcType=VARCHAR},
      </if>
      <if test="modifyName != null" >
        modify_name = #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteState != null" >
        delete_state = #{deleteState,jdbcType=VARCHAR},
      </if>
      <if test="routeId != null" >
        route_id = #{routeId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nengchuan.inspection.task.entity.IiTask" >
    update ii_task
    set station_type = #{stationType,jdbcType=VARCHAR},
      station_id = #{stationId,jdbcType=VARCHAR},
      station_name = #{stationName,jdbcType=VARCHAR},
      superior_id = #{superiorId,jdbcType=VARCHAR},
      superior_name = #{superiorName,jdbcType=VARCHAR},
      task_name = #{taskName,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=VARCHAR},
      type_name = #{typeName,jdbcType=VARCHAR},
      execution_time = #{executionTime,jdbcType=TIMESTAMP},
      execution_fun_id = #{executionFunId,jdbcType=VARCHAR},
      execution_fun_name = #{executionFunName,jdbcType=VARCHAR},
      execution_state_id = #{executionStateId,jdbcType=VARCHAR},
      execution_state_name = #{executionStateName,jdbcType=VARCHAR},
      is_abnormal = #{isAbnormal,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      create_name = #{createName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_id = #{modifyId,jdbcType=VARCHAR},
      modify_name = #{modifyName,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      delete_state = #{deleteState,jdbcType=VARCHAR},
      route_id = #{routeId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>